#footer {
    flex: 0 0 auto;
}

hr {
    margin-left: auto;
    width: 70%;
    padding: 0;
    height: 4px;
    border: none;
    border-top: 1px solid #333;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.resumes-title {
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    background: #EDEFF2;
    color: #4A586E;
}

.add-resume {
    margin-top: 20px;
    margin-right: 20%;
    font-size: 15px;
    text-align: right;
    color: #4A586E;
}

.form {
    height: 100%;
    flex: 1 0 auto;
}

.full-name {
    font-weight: bold;
    margin-left: 15%;
    margin-top: 15px;
    color: #4A586E;
    text-align: left;
    font-size: 25px;
}

.contacts {
    margin-left: 15%;
    margin-top: 15px;
    color: #4A586E;
    text-align: left;
    font-size: 15px;
}

.sections {
    margin-top: 20px;
}

.section-title {
    margin-left: 15%;
    margin-top: 15px;
    color: #4A586E;
    text-align: left;
    font-size: 25px;
}

.section-value {
    margin-left: 15%;
    margin-top: 15px;
    color: #4A586E;
    text-align: left;
    font-size: 15px;
}

.section-value-organization {
    display: flex;
    margin-top: 15px;
    color: #4A586E;
    text-align: left;
    font-size: 15px;
}

.section-period-time {
    font-weight: bold;
    width: 30%;
    margin-top: 30px;
    color: #4A586E;
    text-align: right;
    font-size: 15px;
}

.section-period-value {
    width: 70%;
    margin-left: 5%;
    margin-top: 15px;
    color: #4A586E;
    text-align: left;
    font-size: 15px;
}

.tables {
    margin-top: 20px;
    height: 100%;
}

.table {
    margin: auto;
    border: 1px solid #eee;
    table-layout: fixed;
    width: 70%;
}

.table th {
    text-align: center;
    font-weight: bold;
    padding: 5px;
    background: #EDEFF2;
    border: 1px solid #dddddd;
}

.table td {
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #eee;
}

.table tbody tr:nth-child(odd) {
    background: #fff;
}

.table tbody tr:nth-child(even) {
    background: #EDEFF2;
}

.link-website {
    font-weight: bold;
    margin-left: 22%;
    text-align: left;
    font-size: 18px;
    color: #169FE1;
}

.period-title {
    font-weight: bold;
    font-size: 16px;
}

a {
    color: #4A586E;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #4A586E;
}
footer {
    background: none repeat scroll 0 0 #FAFAFA;
    color: #4A586E;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
}

dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 170px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

h3 {
    margin: 15px 0 5px;
}