#footer {
    flex: 0 0 auto;
}

hr {
    margin-left: auto;
    width: 70%;
    padding: 0;
    height: 4px;
    border: none;
    border-top: 1px solid #333;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.resumes-title {
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    background: #EDEFF2;
    color: #4A586E;
}

.add-resume {
    margin-top: 20px;
    margin-right: 20%;
    font-size: 15px;
    text-align: right;
    color: #4A586E;
}
.form {
    height: 100%;
}
.full-name {
    margin-left: 15%;
    margin-top: 15px;
    color: #4A586E;
    text-align: left;
    font-size: 25px;
}

.contacts {
    margin-left: 15%;
    margin-top: 15px;
    color: #4A586E;
    text-align: left;
    font-size: 15px;
}

.sections {
    margin-top: 20px;
}

.section-title {
    margin-left: 15%;
    margin-top: 15px;
    color: #4A586E;
    text-align: left;
    font-size: 25px;
}

.section-value {
    margin-left: 15%;
    margin-top: 15px;
    color: #4A586E;
    text-align: left;
    font-size: 15px;
}

.tables {
    margin-top: 20px;
    height: 100%;
}

.table {
    margin: auto;
    border: 1px solid #eee;
    table-layout: fixed;
    width: 70%;
}

.table th {
    text-align: center;
    font-weight: bold;
    padding: 5px;
    background: #EDEFF2;
    border: 1px solid #dddddd;
}

.table td {
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #eee;
}

.table tbody tr:nth-child(odd) {
    background: #fff;
}

.table tbody tr:nth-child(even) {
    background: #EDEFF2;
}

a {
    color: #4A586E;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #4A586E;
}